body {
    font-family: 'Orbitron', sans-serif;

}


#game-container {
  padding: .2%;
  text-align: center;
  display: block;
}

#name-robot {
    background-color: rgba(0, 63, 255, 0.61);
    min-height: 700px;
    margin: 1%;

}

.card,
.card2 {
    background: rgba(0, 0, 0, 0.26);
    border: 1px solid yellow;
    border-radius: 3px;
    color: white;
    padding: 5%;
    margin-bottom: 2%;

}


.title {
    font-size: 2em;
    font-weight: bold;
    padding: 3%;
}

.field {
    width: 100%;
}

.field__textinput {
    height: 55px;
    margin: 1% 0;
    width: 351px;
    font-size: 2em;
}

.field__textinput:focus {
  border: 1px solid #04df04;
}

select {
    float: none;
    text-decoration: none;
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
    border: 5px solid #04df04;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 5px;
    min-width: 260px;
    height: 55px;
}


.ready {
    float: none;
    text-decoration: none;
    background-color: #04df04;
    color: black;
    border-radius: 5px;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 5px;
    height: 55px;
}
.button {
    margin-top: 2%;
    padding: 2%;
    text-align: center;
}

#enter-dome {
    background-color: #FF4136;
    border: 5px solid firebrick;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
    min-width: 74%;

}

.enterButton {
    margin: 3%;
}


#battledome {
    background-color: rgba(0, 63, 255, 0.61);
    min-height: 700px;
    margin: -1%;
    padding: 3%;

}

.healthHead > h5 {
    margin-top: 5%;
    padding: 0;
}

.player-info {
    text-align: center;
    margin-bottom: 4%;
}

.progress-sect {
    margin: 0;
}

#attackButton {
    height: 100px;
    width: 100px;
    color: tomato;
    border-radius: 75%;
    background-color: #b31b00;
    border: solid 5px;
    font-weight: bold;
}

.battle-heading {
    margin: 1% 0;
}


.healthBarShell {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 12px;
    box-sizing: border-box;
    padding: inherit;
}





.healthCount {
    border: 2px solid #04df04;
    height: 50%;
    width: 63%;
    background-color: white;
    margin: 6% 19.5%;
    font-weight: 900;
    font-size: 46px;
    padding: 14% 3% 7% 1%;
}


.hidden-class {
    display: none;
}

.winner {
    width: 75%;
    position: absolute;
    background-color: red;
    margin: 3% 10%;
    padding: 1em;
    border: 10px solid yellow;
    text-align: center;
    color: yellow;
    font-size: 5em;
    top: 0;

}

#playAgain {
    font-size: 12px;
    color: yellow;
    display: block;
}
/*.progress {
    height: 20px;
    margin: 2%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
    height: 12px;
    background-color: #ebeef1;
    background-image: none;
    box-shadow: none;
    border: 2px solid #04df04;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
    background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}
.progress-bar {
    box-shadow: none;
    border-radius: 3px;
    background-color: #0090D9;
    background-image: none;
    -webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.progress-bar-success {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}
.progress-bar-success {
    background-color: #1e810e;
    background-image: none;
    width: 100%;
}*/
